body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {font-size: 16px;}
label {font-size: 18px;}
p span {
    background-color: green;
}
p::first-letter{
    color: red;
    font-size: 24px;
}
.zag{
    color: orange;
}
li.veget{
    color: red;
}
.head{
    font-weight: 700;
}
table.less2{
    width: 500px;
    border-collapse: separate;
    border: 1px solid black;
}
td {
    padding: 5px;
    border: 1px solid black;
   }
.bold{
    font-weight: 700;
}
.red{
    color: orange;
}
.green{
    background-color: green;
}
.bold,.green{
    text-align: center;
}
label:not([p]){
    color: red;
}
.blu,.orange,.gray{
    font-size: 18px;
    font-weight: 600;
}
.orange a{
    color: orange;
}
.gray a{
    color: #666;
}
table.less3 {
    width: 90%;
    border-collapse: collapse;
}
td{
    text-align: center;
}
.parent > .child:nth-child(2n+3){
    background-color: gray;
}
.parent:nth-child(even){
    background-color: aquamarine;
}
.gri{
    background-color: green;
}
.rd{
    background-color: red;
}
.sky{
    background-color: blue;
}
input:checked+.gri {
    display: none;
}